In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing dataset
dataset=pd.read_csv("balaji_Sales.csv")

In [3]:
# displaying data
dataset.head()

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening

In [4]:
dataset.shape

(1000, 10)

In [5]:
# checking if any null value is present
dataset.isnull().sum()

order_id                0
date                    0
item_name               0
item_type               0
item_price              0
quantity                0
transaction_amount      0
transaction_type      107
received_by             0
time_of_sale            0
dtype: int64

In [6]:
# checking if dulplicate value is present
dataset.duplicated().sum()

np.int64(0)

In [7]:
# filling the null field of transaction type
dataset["transaction_type"]=dataset["transaction_type"].fillna("online")

In [12]:
# replacing Mr and Mrs with male and female for better understanding
dataset["received_by"]=dataset["received_by"].replace(["Mr.","Mrs."],["Male","Female"])

In [13]:
# more info about the dataset to get more insights
dataset.isna().sum()

order_id              0
date                  0
item_name             0
item_type             0
item_price            0
quantity              0
transaction_amount    0
transaction_type      0
received_by           0
time_of_sale          0
dtype: int64

In [14]:
dataset["Date"]=pd.to_datetime(dataset["date"],format="mixed")

In [16]:
dataset.head(10)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale,Date
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,online,Male,Night,2022-07-03
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Male,Afternoon,2022-08-23
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Male,Afternoon,2022-11-20
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Male,Night,2023-02-03
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Male,Evening,2022-10-02
5,6,11/14/2022,Vadapav,Fastfood,20,10,200,Cash,Male,Evening,2022-11-14
6,7,05-03-2022,Sugarcane juice,Beverages,25,9,225,Cash,Male,Evening,2022-05-03
7,8,12/22/2022,Panipuri,Fastfood,20,14,280,Online,Male,Night,2022-12-22
8,9,06-10-2022,Panipuri,Fastfood,20,1,20,Cash,Female,Morning,2022-06-10
9,10,9/16/2022,Panipuri,Fastfood,20,5,100,Online,Male,Afternoon,2022-09-16

Analysing Data

Univariate analysis

In [ ]:
sns.set_style("whitegrid")
sns.histplot(dataset["transaction_amount"],bins=np.arange(0,1000,100),kde=True)
plt.title("Transaction Analysis")
plt.xlabel("Transaction Amount")
plt.ylabel("frequency")
plt.show()

This clearly shows that the maximum transaction amount has been spend by people is within 400 rupees since the frequency of transaction amount is high